.newsletter {
  padding: 48px 0px;
  background-color: white;
}

.community-section {
  margin: 100px 0px;
  padding: 16px 24px;
  background-color: #fff7f0;
}

.hero-image-container {
  width: 100%;
  padding: 24px 0px;
}

.hero-image {
  height: 700px;
  background-image: url(http://127.0.0.1:5500/coast-path-from-lundy-bay-1330111.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-title {
  color: white;
  size: 54px;
}
.row {
  padding: 25px 0px;
}

.nav-link {
  padding: 6px 12px;
}

.bg-body-tertiary {
  color: #f5f4f2;
}

body {
  font-family: "Inter", sans-serif;
  background-color: white;
}

.container {
  background-color: white;
}

h1 {
  align-items: center;
  display: flex;
  justify-content: center;
}

h2 {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.card-img-top {
  height: 200px;
  width: auto;
}

.img-thumbnail {
  height: 230px;
  width: 360px;
  object-fit: cover;
  opacity: 0.8;
}
.img-thumbnail:hover {
  opacity: 1;
}

.text-end {
  margin: 5px 10px 5px 10px;
}

.card {
  margin: 10px 10px 10px 10px;
}

.scene {
  display: flex;
  justify-content: center;
}

.direction {
  text-decoration: underline;
}

.walk {
  padding: 15px 15px 15px 40px;
}
.visit {
  padding: 15px 15px 15px 40px;
}
.gallery {
  padding: 15px 15px 15px 40px;
}

footer {
  background-color: FFF7F0;
}

.social {
  display: flex;
  justify-content: center;
}

.text-muted {
  display: flex;
  justify-content: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

/* xs screens /mobile */
@media only screen and (max-width: 576px) {
  .dropdown-menu.show {
    border: none !important;
  }
}

/* md screens / smaller tablets */
@media only screen and (max-width: 768px) {
  .dropdown-menu.show {
    border: none !important;
  }
}

/* lg screens / standard tablets  */
@media only screen and (max-width: 992px) {
  .dropdown-menu.show {
    border: none !important;
  }
}
